.main-chat
 .main-chat__group
  .main-chat__group__box-left
   .main-chat__group__box-left__group-name
    qqq
   .main-chat__group__box-left__menber-list
    Member
  
  = link_to "" do
   .main-chat__group__edit-btn
    Edit
 .main-chat__message
  .main-chat__message__box
   .main-chat__message__box__info
    .main-chat__message__box__info__username
     ウルトラマン
    .main-chat__message__box__info__timestamp
     2019/09/21
   .main-chat__message__box__text
    あと３フン
    .main-chat__message__box
   .main-chat__message__box__info
    .main-chat__message__box__info__username
     カップラーメン
    .main-chat__message__box__info__timestamp
     2019/09/21
   .main-chat__message__box__text
    あと３フン
 .main-chat__message-form
  .main-chat__message-form__box
   .main-chat__message-form__box__body
    .main-chat__message-form__box__body__text
     aaaa
    
    .main-chat__message-form__box__icon
    %label{class: "btn"}
     = icon('fas', 'image')
     %input{type: "file"}

   .main-chat__message-form__box__submit
    Send
 